.superherosSection {
  margin-left: auto;
  margin-right: auto;
}

.superherosList {
  padding-top: 15px;
}

.superherosList li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.superherosImage {
  margin-right: 20px;
}

.superherosTitle {
  font-size: 30px;
}

.superherosList .button {
  margin-left: 20px;
  margin-top: 9px;
}
